:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(
		120deg,
		#bd34fe 30%,
		#41d1ff
	);
	--vp-home-hero-image-background-image: linear-gradient(
		-45deg,
		#bd34fe 50%,
		#47caff 50%
	);
	--vp-button-brand-bg: #722ed1;
	--vp-button-brand-hover-bg: #531dab;
	--vp-button-brand-active-bg: #391085;
	/* --vp-c-indigo-1:lab(72.7377% 33.9074 77.3632); // 橙色 */
	--vp-c-indigo-1: #30a46c;
	--vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px);
	}
}
@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(68px);
	}
}
.is-home .image-src {
	position: absolute;
	top: 50%;
	/*rtl:ignore*/
	left: 50%;
	max-width: 192px;
	max-height: 192px;
	border-radius: 96px;
	/*rtl:ignore*/
	transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
	.is-home .image-src {
		max-width: 256px;
		max-height: 256px;
		border-radius: 128px;
	}
}

@media (min-width: 960px) {
	.is-home .image-src {
		max-width: 320px;
		max-height: 320px;
		border-radius: 160px;
	}
}
/* .vitepress\theme\style\var.css */
h1 {
	background: -webkit-linear-gradient(-45deg, #e43498 5%, #5ad7dd 15%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* var.css */
.vp-doc a {
	text-decoration: none;
}

/* .vitepress\theme\style\var.css */
/* 提示框背景颜色 */
:root {
	--vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

/* 提示框 */
.custom-block.tip {
	border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
	/* border-color: #d97706; */
	border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
	/* border-color: #f43f5e; */
	border-color: var(--vp-c-red-2);
}

@property --anix {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}
@keyframes rotatingx {
	0% {
		--anix: 0deg;
	}
	to {
		--anix: 360deg;
	}
}
@property --blur {
	syntax: "<length>";
	inherits: false;
	initial-value: 30px;
}
@keyframes filter_blur {
	0% {
		--blur: 30px;
	}
	to {
		--blur: 80px;
	}
}

.vp-doc .vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme) {
	border-top: 6px solid #d4eaf7;
}
.vp-doc
	.vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme)
	.vp-code:not(.dark .vp-code) {
	padding-bottom: 18px;
}
.vp-doc
	.vp-code-group.vp-adaptive-theme:not(.dark .vp-code-group.vp-adaptive-theme) {
	border-top: none !important;
}
.vp-doc .vp-code-group.vp-adaptive-theme:after {
	display: none;
}
.vp-doc .vp-code-group .tabs {
	border-top: 6px solid #d4eaf7;
}

.dark .vp-doc .vp-code-group .tabs {
	border-top: 2px !important;
}
.dark .vp-doc .vp-adaptive-theme {
	border: 2px solid #313d44;
	border-radius: 8px;
	border-color: transparent;
	position: relative;
}
.dark .vp-doc .vp-adaptive-theme.active {
	margin-bottom: 0;
}
.dark .vp-doc .vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme) {
	border-top: 2px solid transparent;
}
.dark .vp-doc .vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme) {
	border-color: transparent;
	background-clip: border-box;
	background: conic-gradient(from var(--anix), #0f0, #ff0, #0ff, #f0f, #0ff);
	opacity: 0.99;
	animation: rotatingx 2s linear infinite reverse;
}
.dark .vp-doc .vp-adaptive-theme:before {
	content: " ";
	width: 100%;
	height: 100%;
	background: #121212;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	border-radius: 8px;
}
.dark ::-webkit-scrollbar {
	width: 12px;
	background-color: #1b1b1f;
}
.dark ::-webkit-scrollbar-track {
	background: #161618;
	border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
	background-color: #2b2b2b;
	border-radius: 10px;
	border: 2px solid #2c2c2c;
}
.dark ::-webkit-scrollbar-thumb:hover {
	background: #202020;
}
.dark .VPHomeFeatures .VPFeature {
	position: relative;
	border-radius: 12px;
	overflow: hidden;
}
.dark .VPHomeFeatures .VPFeature:before {
	content: "";
	display: block;
	position: absolute;
	background: radial-gradient(var(--color), transparent, transparent);
	left: var(--x);
	top: var(--y);
	transform: translate(-50%, -50%);
	width: 700px;
	height: 700px;
	opacity: 0;
	transition: opacity 1s;
}
.dark .VPHomeFeatures .VPFeature:hover:before {
	opacity: 1;
	transition: opacity 0.3s;
}
.dark .VPHomeFeatures .VPFeature:after {
	position: absolute;
	content: "";
	display: block;
	background-color: #222c;
	z-index: 0;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	border-radius: 10px;
}
.dark .VPHomeFeatures .VPFeature > .box {
	position: relative;
	z-index: 1;
}
pre.vp-code {
	padding-top: 30px !important;
}
.line-numbers-mode.vp-adaptive-theme:after {
	content: " ";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	background-color: #ff5f56;
	position: absolute;
	left: 55px;
	top: 12px;
	box-shadow: 0 0 5px #0003;
}
.line-numbers-mode.vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme)
	code:before {
	content: " ";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	background-color: #ffbd2e;
	position: absolute;
	left: 43px;
	top: 12px;
	box-shadow: 0 0 5px #0003;
}
.line-numbers-mode.vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme)
	code:after {
	content: " ";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	background-color: #27c93f;
	position: absolute;
	left: 63px;
	top: 12px;
	box-shadow: 0 0 5px #0003;
}
.vp-adaptive-theme:after {
	content: " ";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	background-color: #ff5f56;
	position: absolute;
	left: 24px;
	top: 12px;
	box-shadow: 0 0 5px #0003;
}
.vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme) code:before {
	content: " ";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	background-color: #ffbd2e;
	position: absolute;
	left: 43px;
	top: 12px;
	box-shadow: 0 0 5px #0003;
}
.vp-adaptive-theme:not(.vp-code-group .vp-adaptive-theme) code:after {
	content: " ";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 7px;
	background-color: #27c93f;
	position: absolute;
	left: 63px;
	top: 12px;
	box-shadow: 0 0 5px #0003;
}
